@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Heaven</h1>
    <p> <a href="https://www.bibleinfo.com/en/questions/where-is-heaven">Where is Heaven</a>.</p>
</div>


<!--<h1>img src="https://reverandandys.files.wordpress.com/2013/03/url6.jpeg"</h1>-->
<img src="~/Heaven.jpeg" alt="" style="width: 1100px; height: 500px;" />
<!--<h1>The process running is @System.Diagnostics.Process.GetCurrentProcess().ProcessName</h1>-->